<p id="notice"><%= notice %></p>

<h1>Listing Buffers</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @buffers.each do |buffer| %>
      <tr>
        <td><%= link_to buffer.name, buffer %></td>
        <td><%= buffer.description %></td>
        <td><%= link_to 'Edit', edit_buffer_path(buffer) %></td>
        <td><%= link_to 'Destroy', buffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buffer', new_buffer_path %>
