<p id="notice"><%= notice %></p>
<div class="row">
  <div id="code" class="col-md-12">
<pre class="brush: ror">
<%= @buffer.code %>
</pre>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    SyntaxHighlighter.highlight();
  });
<% end %>

<%= link_to 'Edit', edit_buffer_path(@buffer) %> |
<%= link_to 'Back', buffers_path %>
