<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buffer.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @buffer.code %>
</p>

<%= link_to 'Edit', edit_buffer_path(@buffer) %> |
<%= link_to 'Back', buffers_path %>
